.container {max-width: none; width: 100%;}

footer {
    color: white; background-color: 	#808080;
}

.col-md-9 {
    border-style: inset; 
    border-width: 10px;
    padding: 15px; 
    }

.col-sm{
    border-style: double; 
    border-width: 6px;
}

.warna{
    background-color: powderblue;

}

.warna1{
    background-color:lightcyan;

}

.warna2{
    background-color:papayawhip;

}

.warna3{
    background-color: cadetblue;

}

